@import "../../../utils/vars";
@import "../../../utils/mixin";

.swiper2 {
  display: flex;
  @include flex-center;
  width: 1200px;
  position: relative;
  z-index: 3;
}
.swiper-slide2 {
  display: flex !important;
  flex-direction: column;
  background-color: $background-color-main;
  color: $text-color;
  height: min-content;
  max-width: 380px;
}
.news-carusel {
  &__img {
    width: 380px;
    min-height: 250px;
  }

  &__container {
    padding: 15px;
  }

  &__date {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.67;
    margin: 0 0 11px;
  }
  &__title {
    color: $text-color;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 10px;
  }

  &__description {
    color: $text-color;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.6;
    height: 70px;
  }

  &__btn {
    color: $base-color-second;
    border: 0.852px solid $base-color-second;
    background: rgba(255, 31, 125, 0.1);
    text-align: center;
    font-style: normal;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    width: 120px;
    height: 40px;
    cursor: pointer;
  }
}

.flex-btn {
  display: flex;
  @include flex-center;
}

.button-next-slide2 {
  position: absolute;
  background-color: transparent;
  background-image: url(../../../images/nextEl-btn.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 3px solid $base-color-second;
  width: 50px;
  height: 50px;
  z-index: 10;
  cursor: pointer;
  top: 2%;
  right: 0px;
  transition: opacity 0.3s ease-in;
  :hover {
    opacity: 0.3;
  }
}

.button-prev-slide2 {
  position: absolute;
  background-color: transparent;
  background-image: url(../../../images/nextEl-btn.svg);
  background-position: center;
  transform: rotate(180deg);
  background-repeat: no-repeat;
  border: 3px solid $base-color-second;
  width: 50px;
  height: 50px;
  z-index: 10;
  cursor: pointer;
  top: 2%;
  right: 90px;
  transition: opacity 0.3s ease-in;
  :hover::after {
    opacity: 0.1;
  }
}
