@import "../../utils/mixin";
@import "../../utils/vars";

.home {
  &__carusel {
    background-image: url(../../images/main-pic.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    display: flex;
    flex-direction: column;
    @include flex-center;
    z-index: 3;
  }

  &__blog {
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
  }
  &__blog-container {
    margin-top: 60px;
    width: auto;
    z-index: 3;
    position: relative;
  }
  &__blog-title {
    color: $base-color-second;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0 0 40px;
    span {
      color: $text-color;
    }
    #span-news {
      color: $base-color !important;
    }
  }
}
